@import 'color';
@import 'media';

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

%display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    @extend %display-flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    margin: 1rem;
    background: aqua;
    overflow: hidden;
}
.buy{
    @extend %display-flex;
    justify-content: space-around;
    width: 80%;
    height: 5rem;
    padding-top: 4rem;
    margin: 1rem;
    background: rgb(8, 32, 32);
    overflow: hidden;
    
   
}