@import "color";
@import "media";


* {
  padding: 0;
  margin: 0;
}

%display-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

%mobile-desktop{
@extend %display-flex;
flex-direction: column;
justify-content: flex-start;
width: 30%;
height:400%;
padding: 0.5rem;
margin: 0.5rem;
position: absolute;
top:0;
left:-40rem;
box-shadow: 1px 1px 3px 2px $khakestari,5px 5px 15px 3px $khakestari;

}
.nav {
  @extend %display-flex;
  justify-content: space-around;
  width: 100vw;
  height: 18vh;
  background: gainsboro;
  position: relative;
  transition: all 0.5s ease-in-out;
  
  .navlink {
    text-decoration: none;
    color: $sormei;
    font-size: 16px;
    font-weight: 500;
  }
  .fbars{
    cursor: pointer;
    position: absolute;
    left: -5rem;
    @include tablet{
      left:2rem;
    }

    
  }
  .nav-list {
    @extend %display-flex;
    width: 60%;
    height: 50%;
    position: relative;
    @include tablet{
      left:-25rem;
    }
    

    .nav-item {
      @extend %display-flex;
      
      flex-direction: row-reverse;
      width: 70%;
      height: 100%;
      ul{
        list-style-type: none;
      }
      li {
        padding: 10px;
        margin: 10px;
         }
    }

   
    .search{
        @extend %display-flex;
        width: 30%;
        height: 100%;
        
        input{
            width: 50%;
            font-size: 16px;
            color: $sormei;
            padding: 5px;
            margin: 10px;
            border-radius: 10px;
            border:none;
        }
        span{
            font-size: 16px;
        }
    }
  }

  .brand {
    @extend %display-flex;
    .link {
      text-decoration: none;
      padding: 10px;
      color: $sormei;
    }
    span {
      font-size: 25px;
      font-weight: 500;
      color: $sormei;
    }
    .brand-icon {
      font-size: 40px;
      font-weight: 400;
      color: $zard;
    }
  }

 
    .mobile{
      @extend %mobile-desktop;
      @include tablet{
        left: 0;
        z-index: 2;
        background: chocolate;
      }
     .mobile-nav-items{
       @extend %display-flex;
       flex-direction: column;
       width: 100%;
       ul{
         list-style: none;
         padding-top:5px;
       }
       li {
        padding: 10px;
        text-decoration: none;
         }
     }
      
    }
    .desktop{
      @extend %mobile-desktop;
      
        left: -40rem;   
      
    }
    .close{
      cursor: pointer;
    }
  
 
}
