@import 'color';

*{
    padding: 0;
    margin: 0;
}

%dispay-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
.nav{
   @extend %dispay-flex;
   justify-content: space-around;
   width: 100vw;
   height: 18vh;
background: gainsboro;
    ul{

    }
}